<ion-view title="Login">
      
  <ion-nav-bar class="bar-positive">
    <h1 class="title">Login</h1>
  </ion-nav-bar>
    
  <ion-content ng-controller="SignInCtrl">
    <div class="list">
      <div class="padding" style="text-align:center;">
        <img src="img/logo.png" width="80%" />
      </div>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="signIn(user)">
        Sign-In
      </button>

      <button class="button button-block button-positive" ng-click="signup()">
        Sign up
      </button>
    </div>
  </ion-content>
    
</ion-view>