<ion-view title="Success">
  
  <!-- <ion-header-bar class="bar-royal">
  	<h1 class="title">Upload Tax Document</h1>
  </ion-header-bar> -->
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>

  <ion-content ng-controller="SuccessCtrl" style="text-align:center;">
    <div class="list">
      <div class="padding" style="text-align:center;">
        <img src="img/logo.png" width="80%" />
      </div>
      <label> You have been successfully uploaded your document.</label>
      <div class="padding">
      <button class="button button-block button-positive" style="margin-top:10%;" ng-click="onStartOver()">
        StartOver
      </button>
      <button class="button button-block button-positive" style="margin-top:10%;" ng-click="onLogout()">
        Logout
      </button>
      </div>
    </div>
  </ion-content>

</ion-view>