<ion-view view-title="Tax Document">
  
  <!-- <ion-header-bar class="bar-royal">
  	<h1 class="title">Upload Tax Document</h1>
  </ion-header-bar> -->
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content ng-controller="UpdTaxDocCtrl" style="text-align:center;">
    <div class="list">
      <div class="padding" style="text-align:center;">
        <img src="img/logo.png" width="80%" />
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive upload-button" ng-click="onChooseImage()">
        Choose Image
      </button>
      
      <button class="button button-block button-positive" ng-click="onTakePhoto()">
        Take Photo
      </button>
    </div>
    <!-- <div class="padding">
      <button class="button button-block button-calm" ng-click="UploadTax()">
        Choose Tax Type
      </button>
    </div> -->
  </ion-content>

</ion-view>